/* Main Content */
.container {
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    background-color: #d3b7b7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #2c3e50;
}

h2 {
    font-size: 1.8em;
    color: #34495e;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 1em;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #85badd;
}

.matches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.match-item {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.match-item img {
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.match-item a {
    display: block;
    margin-top: 10px;
    color: #eaeef0;
    text-decoration: none;
    font-size: 1em;
}

.button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #abc7da;
}

.button-all {
    display: inline-block;
    background-color: #943d4d;
    color: white;
    padding: 15px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.button-all:hover {
    background-color: #86676a;
}
